{% layout 'default' %}

<div class="shop-page-container">
  <!-- Bộ lọc -->
  {% section 'filter' %}

  <!-- Hiển thị sản phẩm -->
  {% section 'products' %}
</div>
<script src="{{ 'filter.js' | asset_url }}"></script>
<script src="{{ 'view.js' | asset_url }}"></script>

