{% layout 'default' %}

<div class="shop-page-container">
  <!-- Bộ lọc -->

  <!-- Hiển thị sản phẩm -->
  {% section 'products' %}
  {% section 'filter' %}

</div>
<script src="{{ 'filter.js' | asset_url }}"></script>
<script src="{{ 'view.js' | asset_url }}"></script>

